<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FormulaSolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="h" value="6.626e-34"/>
    <add key="he" value="1.055e-34"/>
    <add key="mo" value="9.11e-31"/>
    <add key="q" value="1.602e-19"/>
    <add key="kb" value="1.381e-23"/>
    <add key="ep" value="8.854e-12"/>
    <add key="c" value="3e8"/>
    <add key="a" value="1.602e-19"/>
    <add key="pi" value="3.14e0"/>

  </appSettings>
    <userSettings>
        <FormulaSolver.Properties.Settings>
            <setting name="he" serializeAs="String">
                <value>1.055e-34</value>
            </setting>
            <setting name="mo" serializeAs="String">
                <value>9.11e-31</value>
            </setting>
            <setting name="q" serializeAs="String">
                <value>1.602e-19</value>
            </setting>
            <setting name="kb" serializeAs="String">
                <value>1.381e-23</value>
            </setting>
            <setting name="ep" serializeAs="String">
                <value>8.854e-12</value>
            </setting>
            <setting name="c" serializeAs="String">
                <value>3e8</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value>1.602e-19</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value>6.626e-34</value>
            </setting>
            <setting name="pi" serializeAs="String">
            <value>3.1415e0</value>
            </setting>
        </FormulaSolver.Properties.Settings>
    </userSettings>
</configuration>